<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Large</mat-card-subtitle>
        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, omnis modi ipsa doloribus perferendis laboriosam non nobis expedita, ducimus, a similique ut architecto quibusdam delectus exercitationem voluptatibus corrupti commodi. Dicta accusamus reprehenderit doloremque exercitationem, aliquid veniam harum eos deleniti fugiat.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, omnis modi ipsa doloribus perferendis laboriosam non nobis expedita, ducimus, a similique ut architecto quibusdam delectus exercitationem voluptatibus corrupti commodi. Dicta accusamus reprehenderit doloremque exercitationem, aliquid veniam harum eos deleniti fugiat.
    </mat-card-content>

    <mat-card-footer>
        <mat-chip-listbox aria-label="Dog selection">
            <mat-chip>
              <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
              Dog one
            </mat-chip>
            <mat-chip color="primary">
              <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
              Dog two
            </mat-chip>
            <mat-chip color="accent">
              <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
              Dog three
            </mat-chip>
          </mat-chip-listbox>
    </mat-card-footer>
  </mat-card>